<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-label position="floating">Descrição da tarefa {{a}}</ion-label>
      <ion-input [(ngModel)]="tarefa.descricao" ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="adicionar()">Adicionar</ion-button>
    <h2 *ngIf="tarefas.length > 0" style="color: var(--ion-color-dark)">Lista de tarefas</h2>
    <ion-list>
      <ion-item *ngFor="let item of tarefas">
        <ion-label (click)="toggleStatus(item.id)" [ngClass]="{'marcado': item.concluido}">{{ item.descricao }}</ion-label>
        <span class="button-excluir" (click)="excluir(item.id)">X</span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
