ion-item .marcado {
  text-decoration: line-through;
}

ion-list ion-item ion-label {
  color: var(--ion-color-primary);
}

ion-item .button-excluir {
  font-size: 32px;
  color: var(--ion-color-danger);
  margin-right: 8px;
}